{% extends "layout.html" %} {% block body %}
<h3>Hakkımda</h3>
<hr />
<p>
  Merhaba, ben Furkan! <br />
  <br />Yazılım dünyasına olan tutkum, sorunları çözme isteği ve sürekli öğrenme
  merakım sayesinde yıllar içinde derinleşti. Bu blogu, yazılım alanında
  edindiğim bilgi ve tecrübeleri paylaşmak, aynı zamanda bu büyülü dünyaya adım
  atanlara rehberlik etmek amacıyla kurdum. Burada, yazılım geliştirme,
  programlama dilleri, algoritmalar, teknoloji trendleri ve daha fazlası üzerine
  yazılar bulabilirsiniz. Hedefim, karmaşık gibi görünen konuları sade ve
  anlaşılır bir şekilde anlatmak ve yazılım öğrenme yolculuğunuzu keyifli hale
  getirmek. Birlikte öğrenmek, keşfetmek ve büyümek için buradayız. Bloguma
  katıldığınız için teşekkür ederim! Sorularınız, önerileriniz ya da iş birliği
  fikirleriniz varsa benimle iletişime geçmekten çekinmeyin. <br />
  <br />
  <strong>Sevgi ve Kodla</strong>
</p>
<hr />
{% endblock %}
