{% extends "layout.html" %} {% block body %}
<div class="jumbotron text-center">
  <h3>Yazılım Bilimi Bloğuna Hoşgeldiniz</h3>
  <p>
    Merhaba! Yazılım Bilimi bloguna hoş geldiniz. Burası, yazılım dünyasında
    bilgiye ve yeniliklere açılan bir kapıdır. Amacımız, hem yeni başlayanlara
    hem de deneyimli yazılımcılara rehberlik ederek öğrenme yolculuklarını
    kolaylaştırmak. Blogumuzda, programlama dillerinden yazılım geliştirme
    araçlarına, algoritmalardan güncel teknolojilere kadar birçok konuda içerik
    bulabilirsiniz. Kodlama ipuçları, en iyi uygulamalar ve sektördeki
    trendlerle yazılım dünyasındaki yolculuğunuzu destekliyoruz. Eğer siz de
    öğrenmeye meraklıysanız ve yazılımın büyülü dünyasında kaybolmaya
    hazırsanız, doğru yerdesiniz. Gelin, birlikte keşfedelim!
    <br />
    <strong>Yazılım Bilimi Blog Ekibi</strong>
  </p>
  {% endblock %}
</div>
